@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

/* General */

html, body, * {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: #333;
}

#logo {
    display: inline-block;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 15px;
}

#logo .fa {
    margin-right: 10px;
}

#main-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

#nav-account, #nav-info {
    height: 60px;
    position: fixed;
    z-index: 100;
    width: 100%;
}

#nav-account {
    top: 0;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

#nav-tree {
    position: absolute;
    left: 225px;
    top: 20px;
}

#nav-tools {
    position: absolute;
    right: 25px;
    top: 10px;
    display: none;
}

#nav-info {
    top: 60px;
    background-color: rgb(250, 250, 250);
    border-bottom: 2px solid #ccc;
}

#nav-info .current {
    font-weight: 700;
    cursor: default;
}

#accounts-container {
    top: 0;
    right: 25px;
    position: absolute;
    height: 60px;
    display: inline-block;
    padding-top: 20px;
}

.account-item {
   height: 30px;
   padding: 7px 10px;
   display: inline-block;
   font-size: 12px;
}

.account-item .fa {
    margin-right: 10px;
}

#start {
   background-color: #16a085;
   color: white;
   border-radius: 5px;
   -webkit-transition: all .25s linear;
   transition: all .25s linear;
}

#start:hover {
   background-color: #2ecc71;
}

h1 {
    text-align: center;
}

/* Registration/Login */

#register-container {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #333;
}

#login-pane {
    max-width: 700px;
    background-color: white;
    margin: auto;
    position: absolute;
    border: 1px solid #aaa;
    border-radius: 7px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 325px;
    z-index: 200;
}

#register-pane {
    max-width: 700px;
    background-color: white;
    margin: auto;
    position: absolute;
    border: 1px solid #aaa;
    border-radius: 7px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 400px;
    z-index: 200;
}

dd.info {
    display: none;
}

dd.error {
    font-size: 10px;
    background-color: #e74c3c;
    color: white;
    padding: 0 5px;
    border-radius: 3px;
    display: inline;
}

dl {
    margin: 0;
}

.pane p {
    margin-top: 30px;
    text-align: center;
    color: #333;
    font-weight: 600;
}

#student_field input, #tutor_field input {
    top: 0;
}

.pane .form-group {
    margin-bottom: 10px;
    height: 60px;
}

#login-pane #social-register {
    margin-top: 0px;
    border-right: 1px solid #eee;
    text-align: center;
}

#register-pane #social-register {
    margin-top: 50px;
    border-right: 1px solid #eee;
    text-align: center;
}

#social-register .fa {
    margin-left: 0;
    margin-right: 10px;
    vertical-align: middle;
}

#email-register {
    margin-top: 10px;
    padding: 0 45px;
}

#email-register input {
    min-width: 215px;
}

#social-register > div {
    margin-bottom: 25px;
}

#social-register button {
    border: none;
    background-color: #555;
    color: white;
    padding: 15px;
    width: 200px;
    border-radius: 5px;
    margin: auto;
   -webkit-transition: all .25s linear;
   transition: all .25s linear;
}

#email-register button {
    margin-top: 10px;
    width: 150px;
    color: white;
    border-radius: 5px;
    padding: 10px;
    background-color: #c0392b;
    border: none;
   -webkit-transition: all .25s linear;
   transition: all .25s linear;
}

#email-register button:hover {
    background-color: #e74c3c;
}

#social-register button:hover {
    background-color: #34495e;
}

/* Schools */

.school {
    text-align: center;
    height: 100px;
    padding-top: 25px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
}

.school .name {
    font-size: 30px;
}

.school .type {
    display: inline-block;
    font-size: 12px;
    background-color: #8e44ad;
    color: white;
    padding: 5px;
    vertical-align: middle;
    margin-left: 15px;
}

/* Majors */

#majors-content {
    padding-top: 5px;
    max-width: 1000px;
    margin: 120px auto;
}

.tag {
    border-radius: 3px;
    font-size: 12px;
}

#nav-tree .fa {
    margin-left: 5px;
}

.major {
    margin: 0 10px;
    padding: 10px 10px;
}

.major:hover {
    background-color: #eee;
}

.major .id {
    border: 1px solid #34495e;
    color: white;
    background-color: #34495e;
    padding: 5px;
    width: 60px;
    text-align: center;
    display: inline-block;
}

.name {
    margin-left: 5px;
}

/* Courses */

#course-content, #tutor-content {
    margin-top: 120px;
    margin-left: 200px;
}

#course-content.condensed {
    margin-right: 350px;
}

.sidebar-left {
    position: fixed;
    width: 200px;
    background-color: #eee;
    z-index: 100;
    height: 100%;
    margin-top: 120px;
    border-right: 1px solid #ccc;
}

.sidebar-left ul {
    margin-top: 10px;
}

.sidebar-left .fa {
    margin-right: 15px;
}

.sidebar-left .list-group-item {
    background-color: transparent;
    cursor: default;
    border: none;
    border-radius: 0;
}

.sidebar-left .list-group-item:hover {
    background-color: #ddd;
}

.sidebar-left h3 {
    font-size: 15px;
    text-align: center;
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid #ddd;
}

.sidebar-left .current {
    border-left: 5px solid #c0392b;
    color: #c0392b;
    font-weight: 700;
}

.course .name {
    font-size: 13px;
}

.offered {
    background-color: #34495e;
    color: white;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
}

.prereqs {
    background-color: #34495e;
    color: white;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
}

.desc {
    font-size: 14px;
}

.course {
    height: 50px;
    padding-top: 15px;
    cursor: default;
}

.course:hover {
    background-color: #eee;
}

.course.selected {
    background-color: #34495e;
    color: white;
}

#info-pane {
    width: 350px;
    background-color: white;
    position: fixed;
    padding: 20px;
    top: 120px;
    right: 0;
    height: 100%;
    border-left: 1px solid #ccc;
    display: none;
}

#info-pane .tag {
    margin-bottom: 7px;
}

#info-pane.show {
    display: block;
}

#info-pane .title {
    font-size: 12px;
    font-weight: 700;
}

#info-pane .info {
    margin-top: 25px;
}

#info-pane .desc {
    margin-top: 25px;
    font-size: 12px;
    color: #111;
}

#switch-pane {
    margin: 25px 0;
}

#switch-pane .switch {
    text-align: center;
    font-size: 12px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    cursor: pointer;
}

#switch-pane .switch.selected {
    border-top: 3px solid #c0392b;
    padding-top: 8px;
    font-weight: 700;
}

#switch-pane .switch:hover, #switch-pane .switch.selected:hover {
    border-top: 3px solid #666;
    padding-top: 8px;
 }

#tutor-start {
    padding: 10px;
    background-color: #c0392b;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

#tutor-start.register {
    background-color: #16a085;
}

.course .fa {
    margin-right: 5px;
}

.all-tutorProfile {
    display: inline-block;
    margin: 50px;
    border: 1px solid #eee;
    padding: 50px 100px;
    border-radius: 5px;

}
