@(school: Map[String, String], major: Map[String, String], user: Option[Models.UserData])

@import play.api.libs.json._

@main(major("name"), user) {

    <div id="nav-tree">
        <a href="/schools"><span class="item">All</span></a>
        <i class="fa fa-caret-right"></i>
        <a href="/schools/@school("id")"><span class="item">@school("name")</span></a>
        <i class="fa fa-caret-right"></i>
        <span class="item current">@major("name")</span>
    </div>

    @if(user.isDefined) {
        <div id="nav-tools">
            @if(user.get.tutor) {
            <div id="tutor-start">Tutor</div>
            }
        </div>
    }

} {

    <div class="sidebar-left">
        <ul class="list-group">
            <li class="list-group-item current"><i class="fa fa-th-list fa-lg"></i>Courses</li>
            <li class="list-group-item"><i class="fa fa-user fa-lg"></i>Tutors</li>
            <li class="list-group-item"><i class="fa fa-clock-o fa-lg"></i>Recent</li>
        </ul>
    </div>

    <div id="course-content">
        <ul class="list-group">
        @* for(course <- courses) {
        <!--<div class="course list-group-item">-->
            <!-- -->
            <!--<div class="name">-->
                <!--@if(user.isDefined && user.get.tutor && user.get.tutoring.find(item => Some(item.course) == course("id"))) {-->
                <!--<i class="current-tutor fa fa-graduation-cap"></i>-->
                <!--}-->
                <!--@course("name").get-->
            <!--</div>-->
            <!--<span class="plan-link" style="display: none">@course("link").get</span>-->
            <!--<span class="course-id" style="display: none">@course("id").get</span>-->

            <!--<div class="info" style="display: none">-->

                <!--@if(course("offered").isDefined) { <span class="tag offered">@course("offered").get</span> }-->
                <!--@if(course("prereqs").isDefined) { <span class="tag prereqs">@course("prereqs").get</span> }-->
                <!--@if(course("desc").isDefined) { <p class="desc">@course("desc").get</p> }-->

                <!--<hr>-->
            <!--</div>-->
        <!--</div>-->
        } *@
        </ul>
    </div>

    <div id="info-pane">
        <a class="title" target="_blank"></a>
        <div id="switch-pane" class="row">
            <div id="switch-info" class="switch col-xs-6 selected">Info</div>
            <div id="switch-tutors" class="switch col-xs-6">Tutors</div>
        </div>
        <hr>
        <div id="info"></div>
        <div id="tutors"></div>
    </div>
} {

    <script src="@routes.Assets.at("javascripts/courses.js")""></script>
}
