@(school: Map[String, String], major: Map[String, String], user: Option[Models.UserData])

@import play.api.libs.json._

@main(major("name"), user) {

    <div id="nav-tree">
        <a href="/schools"><span class="item">All</span></a>
        <i class="fa fa-caret-right"></i>
        <a href="/schools/@school("id")"><span class="item">@school("name")</span></a>
        <i class="fa fa-caret-right"></i>
        <span class="item current">@major("name")</span>
    </div>

    @if(user.isDefined) {
    <div id="nav-tools">
        @if(user.get.tutor) {
        <div id="tutor-start"></div>
        }
    </div>
    }

} {

    <div class="sidebar-left">
        <ul class="list-group">
            <li id="showAllCourses" class="list-group-item current"><i class="fa fa-th-list fa-lg"></i>Courses</li>
            <li id="showAllTutors" class="list-group-item"><i class="fa fa-user fa-lg"></i>Tutors</li>
        </ul>
    </div>

    <div id="course-content">
        <ul class="list-group">
        </ul>
    </div>

    <div id="tutor-content" style="display: none"></div>

    <div id="info-pane">
        <a class="title" target="_blank"></a>
        <div id="switch-pane" class="row">
            <div id="switch-info" class="switch col-xs-6 selected">Info</div>
            <div id="switch-tutors" class="switch col-xs-6">Tutors</div>
        </div>
        <hr>
        <div id="info"></div>
        <div id="tutors" style="display: none"></div>
    </div>
} {

    <script src="@routes.Assets.at("javascripts/courses.js")""></script>
}
