@(school: Map[String, String], colleges: Map[String, List[Map[String, String]]], user: Option[Models.UserData])

@main(school("name"), user) { @* Nav *@

    <div id="nav-tree">
        <a href="/schools"><span class="item">All</span></a>
        <i class="fa fa-caret-right"></i>
        <span class="item current">@school("name")</span>
    </div>

} { @* Content *@

    <div id="majors-content">
        @for((college, majors) <- colleges) {
        <div class="college-container">
            <h2>@college</h2>
            <div class="majors">
                @for(major <- majors) {
                <a href="@school("id")/@major("id")">
                    <div class="major">
                        <span class="tag id">@major("id")</span>
                        <span class="name">@major("name")</span>
                    </div>
                </a>
                }
            </div>
        </div>
        }
    </div>

} { @* Scripts *@ }
