@(form: Form[Application.User])

@base("Register for UWTN") { @* Accounts *@

} { @* Nav *@

} { @* Content *@

<div id="main-container">

<div id="register-container" class="container-fluid">

    <p>Register.</p>
    <div class="row">
        <div id="social-register" class="col-xs-5">
            <div><button>Sign Up with Google</button></div>
            <div><button>Sign Up with Facebook</button></div>
            <div><button>Sign Up with LinkedIn</button></div>
        </div>
        <div id="email-register" class="col-xs-7">
            @if(form.hasGlobalErrors) {
            <ul>
                @for(error <- form.globalErrors) {
                <li>@error.message</li>
                }
            </ul>
            }
            @helper.form(action = routes.Application.registerCreate) {
                <div class="form-group">
                    @helper.inputText(form("email"), 'placeholder -> "Enter email")
                    <!--<input type="text" class="form-control" id="email" placeholder="Enter email">-->
                </div>
                <div class="form-group">

                    @helper.inputPassword(form("password"), 'placeholder -> "Password")
                    <!--<input type="password" class="form-control" id="password" placeholder="Password">-->
                </div>
                <div class="form-group">

                    @helper.inputPassword(form("password confirmation"), 'placehold -> "Re-type password")
                    <!--<input type="password" class="form-control" id="password-2" placeholder="Re-type password">-->
                </div>
                <label class="checkbox-inline">
                    @helper.checkbox(form("student"))
                    <!--<input type="checkbox" name="student"> Student-->
                </label>
                <label class="checkbox-inline">
                    @helper.checkbox(form("tutor"))
                    <!--<input type="checkbox" name="tutor"> Tutor-->
                </label>
                <button type="submit">Register</button>
            }
        </div>
    </div>
</div>
</div>
} { @* Scripts *@

}
