@(schools: List[Map[String, String]], user: Option[Models.UserData])

@main("UW Tutor Network", user) {
    <span class="item current">All Schools</span>
} {

<div id="majors-content" class="container-fluid">
    <div class="row">
        @for(school <- schools) {
        <a href="schools/@school("name")">
            <div class="school col-md-12">
                <div class="name">@school("fullName")
                    <div class="tag type">@school("type")</div>
                </div>
            </div>
        </a>
        }
    </div>
</div>

} { }
